<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<h1>Welcome to the <%= htmlWebpackPlugin.options.title %></h1>
<p>Open the console for more info.</p>

</body>

<script>

// KEYS
var key = {
  kid: '',
  private: '',
};

var key2 = {
  kid: '',
  private: '',
};

// USE CLIENT DIRECTLY
TmntClient.connect({
  key,
  protocol: 'http',
  host: 'localhost',
})
  .then((client) => {
    const{ user } = client.getSession();
    const { Users } = client;
    Users.find()
      .then((res) => {
        const users = res.data;

        // check for automated users
        console.log(
          'Automated Users?',
          (users.includes(user) ?
            'Yup! That\'s bad :(' :
            'Nope! Yay that\'s good!'
          )
        );

        // kill the session
        client.disconnect();
      });
  })
  .catch(e => console.error(e));


// TEST OTHER METHODS
TmntClient.connect({
  key,
  protocol: 'http',
  host: 'localhost',
})
  .then((client) => {
    const clientJwt = client.getSession().jwt;

    return client.setKey(key2)
      .then(client2 => {
        console.log('Set New Keys:', client2._key.kid);

        // SET NEW TOKEN
        client2.setToken(clientJwt);
        console.log('Set New Token:', client2.getSession().jwt);

        // Set New Org
        client2.setOrg('NewOrg');
        console.log('Set New Org:', client2._orgId);
      });
  })
  .catch(e => console.error(e));

</script>

</html>
