<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= htmlWebpackPlugin.options.title %> - Browser Example</title>
</head>

<h1><%= htmlWebpackPlugin.options.title %> - Browser Example</h1>
<p>Output: </p>

<div id="output"></div>

</body>

<script>

var key = 'eyJhbGciOiJSUzI1NiIsI5cCI6IkpXVCJ9.eyJ0eXBlIjoiYXV0b21hdGVkIiwia2lkIjoiWWtTYVJOclExeiIsIm9pZCI6IkNvbnNlblN5cyIsInVpZCI6IkNSRml5LW9nT1giLCJpYXQiOjE1NTY1MDExNzEsImV4cCI6MTU4ODAzNzE3MX0.aJnBid8Hwa4SSDQTwI5WiR3vX-m405LGw3gtrKFMNR16yJ2mvuGeeLL_t5E_DhkQGikBnLlTxhXTRPH6Go6furSQ0e8gPmKOcQiEO7KyYPbzHj9gvqVCsljreDfZd2JQgB8gQ2ZVYNySyLpL-crqwSTWsI_3ldnjSTAzkSg221NNcR3_Fa2WF_JO4FPh8CsN-ZvBc95ZvUmfxDnceV89sswa8JCq16AY_N1-IutbRGeiP6cKFkw3rWafDgySsfJU90K3rh4vQQOrXFFxdgmHBzg8-R3KEUEmlK8bDeTLdJDV3NHRSRTCwmC6fFx57-MGwYu7nnjjKChB7gobJbac41igt0xQWPGo3kq14NUKggxYViOZNBE8RZB67_eVU25VSehZSadw1mYuSERsLtYcCdVaMlMvptHtqrjmdEzim2aHHuGn2j_eoNB_cOnsc6XVYzAiIX8BbPcuh-_Vs5SzQ8MvJ__h9B2D4XdJW9TtuMKrQK9lFHirrB355jQU3LHSKIIZlJhNo-igw9xdsK8gI25P0y17xf52OGr9SY_TSq4Yv02kl92yrwaJnPyVwZvrU0ylgr23i43oPpQCFpWyeJxXOCYA0PTJH-2RDEfke3xhAL0B5GXQ4DI-wrTHF6-DRJT7j_heKmrB50tzlj0dBLlzAAiG2f0E51y3o92qQEw';
var el = document.getElementById('output');

// handle errors
function handleError(err) {
  el.innerHTML += 'Error: ' + err.response.data + '<br />';
};

// instantiate a client
var Client = new SobolClient();

// basic usage
Client.configure({
  key: key,
  endpoint: 'http://localhost/api/v1',
})
  .then(function() {
    el.innerHTML += '<h2>Sobol Client ' + Client.getVersion() + '</h2><br />';
    var session = Client.getSession();
    var version = Client.getVersion();
    var log = console.log;

    log('Version: ' + version);
    log('Org: ' + session.oid);

    Client.Applications.find()
      .then((res) => {
        el.innerHTML += 'Applications: ' + res.data.length + '<br />';
      })
      .catch(handleError);

    Client.Users.find()
      .then((res) => {
        el.innerHTML += 'Users: ' + res.data.length + '<br />';
      })
      .catch(handleError);

    Client.Teams.find()
      .then((res) => {
        el.innerHTML += 'Teams: ' + res.data.length + '<br />';
      })
      .catch(handleError);

    Client.Roles.find()
      .then((res) => {
        el.innerHTML += 'Roles: ' + res.data.length + '<br />';
      })
      .catch(handleError);

    Client.Goals.find()
      .then((res) => {
        el.innerHTML += 'Goals: ' + res.data.length + '<br />';
      })
      .catch(handleError);

    Client.Agreements.find()
      .then((res) => {
        el.innerHTML += 'Agreements: ' + res.data.length + '<br />';
      })
      .catch(handleError);
  })
  .catch(function(err) {
    throw err;
  });

</script>

</html>
